@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
*{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 6px;
}
body{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    margin:20px 0px 32px 0px;
    font-size: 32px;
    text-transform: uppercase;
}
.byName,.type1,.type2{
    display: flex;
    align-items: center;
    justify-self: center;
    
}
:is(.byName,.byType) input{
    height:24px;
    border-radius: 16px;
    border: 1px solid black;
    padding:4px 4px 4px 12px;
    font-size:16px;
    letter-spacing: 0px;
    
}
:is(.byName,.byType) input:focus{
    outline: none;
}
label {
    text-align: center;
}
.byType{
    display: flex;
    flex-direction: column;
}
.type1{
    margin-bottom: 16px;
}
button{
    height:40px;
    width:40px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 16px;
    padding-left:12px;
    cursor:pointer;
}
section{
    width:75vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.weak-type{
    display: flex;
}
.weak-type p{
    letter-spacing: 0;
    
    margin:10px;
    padding: 10px 20px;
    border-radius:30px;
}
.weakness p{
    margin-bottom:8px;
}
