@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4px;
    text-transform: capitalize;
}
body{
    background: #c0c0aa;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position:relative;
    
}
.pokemonDetailsMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.head{
    padding:30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    font-size: 40px;
    margin-bottom:40px;
    width:1200px;
}
.number{
    color:#585858
}
.details{
    display: flex;
    gap:40px;
}
.image{
    margin:0px 35px;
    padding-right: 50px;
}
.image img{
    height:400px;
}
.pokemon-info{
    display: flex;
    flex-direction:column;
    gap:40px;
}
.basic{
    display: flex;
    flex-direction: column;
    gap:7px;
    font-size: 18px;
}
.progress{
    display: flex;
    flex-direction: column;
}
.stat{
    width:400px;
    height:15px;
    border: none;
}
.stat::-webkit-progress-bar{
    border-radius: 14px;
    background-color: transparent;
}
.stat::-webkit-progress-value{
    background-color: #3d78c1;
    border-radius: 14px;
}
.progress span{
    padding-left: 10px;
    padding-top: 20px;
}
.outer{
    display: flex;
    
    flex-direction: column;
    
    padding:50px;
    margin:0px 200px 200px 200px;
    background-color: rgba(33, 128, 195, 0.26);
    box-shadow: 10px 10px 40px rgba(14, 55, 83, 0.401) ;
    border-radius: 20px;
    backdrop-filter: blur(6px);
}
.img-pokeEvo{
    height: 180px;
    
}
.forward-arrow{
    font-size: 70px;
}
.stage{
    display: flex;
    align-items: center;
    justify-content: center;
    height:250px;
    width:250px;
    border-radius : 50%;
    background-color: transparent;
    border:1px rgb(0, 0, 0) solid;
    backdrop-filter:blur(10px);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3) , -5px -5px 10px rgba(255, 255, 255, 0.3);
}
.evolutionLines{
    margin-bottom:30px;
    font-size: 30px;
    text-transform: uppercase;
    /* color: white; */
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
}
.evolution{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner p{
    /* color:white; */
    font-size: 25px;
    text-transform: capitalize;
    margin-top:10px;
    margin-bottom:30px;
}
.branchedEvo,
.main,
.branched{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    font-weight: normal;
    
}
.main{
    margin-right:100px;
    gap:60px;
}
.branched .img-pokeEvo{
    height:120px;
}
.branched .stage{
    height:150px;
    width:150px;
}
.branched{
    flex-direction: column;
}
.main .forward-arrow{
    margin-bottom:50px;
    margin-left: 20px;
}
.arrow{
    font-size:100px;
    transition: all 1ms ;
}
.forward-button,
.backward-button{
    position:absolute;
    top:45vh;
}
.backward-button{
    left:15px;
}
.forward-button{
    left:calc(95vw - 15px);
}
.arrow:hover{
    cursor: pointer;
}
.ability{
    display: flex;
}
.ability p{
    text-wrap: wrap;
    max-width: 500px;
}
.ability span{
    width:105px;
    margin-right:10px;
}
.arrow:active{
    transform: scale(0.9);
}
.back{
    margin: 10px;
    padding: 10px;
    color:black;
    font-size:28px;
}